* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  margin: 10px auto;
  width: 900px;
  font-size: 0;
}

.card{
  width: calc(100% / 3);
  height: 500px;
  /* border: 1px solid black; */
  display: inline-block;
  padding: 10px;
  position: relative;
  
   
}

.card-description{
  font-size: 14px;
  margin-top: 10px;
  
}

.description-prezzo{
  color: red;
}

.description-off{
  text-decoration: line-through;
}

img{
  width: 100%;
  
}
.sconto{
  font-size: 20px;
  background-color: red;
  margin-right: 3px;
  border 1 px solid black;
  padding:5px;
}

.sostenibilità{
  font-size: 20px;
  background-color: green;
  padding:5px;
}
.etichette{
  position: absolute;
  bottom: 100px;
  left: 10px;
  color:white;
}
.cuore{
  font-size: 25px;
  background-color: white;
  padding: 10px;
  position: absolute;
  right: 5px;
  
}
.cuore:hover{
  color: red;
}
.second{
  display:none;
  position:absolute;
  top:0;
  left:0;
}
.card-image:hover .second{
  display: block;
}